.dengi{
    background: url('sdf.png') no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}
.dengi_text{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(46, 155, 206);
    cursor: default;
}

.dengi_tab{
    position: absolute;
    border: 1px solid rgb(46, 155, 206);
    display: flex;
    width: 298px;
    height: 75px;
    left: 107px;
    align-items: center;
    top: -1px;
}

.vodka_tab{
    display: flex;
    position:absolute;
    border: 1px solid rgb(46, 155, 206);
    width: 298px;
    height: 75px;
    left: 406px;
    top: -1px;
    justify-content: center;
    align-items: center;
}

.menu_button{
    width: 108px;
    height: 77px;
    font-size: 30px;
    margin-left: -8px;
    top:-1px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(46, 155, 206);
    position: absolute;
    color: rgb(46, 155, 206);
    background-color: white;
    transition: color 1s, background-color 1s;
    cursor: pointer;
}

.menu_button:hover{
    background-color: rgb(46, 155, 206);
    border-color: rgb(46, 155, 206);
    border-bottom-color: rgb(46, 155, 206);
    color: white;
}

.vodka{
    background: url('vodka.png')0 0/100% 100% no-repeat;
    width: 50px;
    height: 50px;
    position: relative;
    left: -20px;
}

.vodka_text{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(46, 155, 206);
    cursor: default;
}

.ava_bomja{
    background: url('bomj.png') no-repeat;
    background-size: 100%;
    background-position: center;
    border-right: none;
    width: 100px;
    height: 75px;
    margin-left: auto;
    border: 1px solid rgb(46, 155, 206);
    position: relative;
    margin-top: 0;
    border-right: none;
    border-top: none;
}

.name_text{
    position: absolute;
    top: -21px;
    width: 197px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
    color: rgb(46, 155, 206);
    cursor: default;
}

.infa_bomja{
    width: auto;
    height: 75px;
    margin-right: -8px;
    margin-top: -9px;
}

.infa{
    position: relative;
    border: 1px solid rgb(46, 155, 206);
    margin-left: auto;
    top: -1px;
    width: 300px;
    height: 75px;
    display: flex;
}

.podrob_infa{
    position: absolute;
    right: 300px;
    top: -1px;
    width: 150px;
    height: 77px;
    color: rgb(46, 155, 206);
    border: 1px solid rgb(46, 155, 206);
    background-color: white;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    transition: color 1s, background-color 1s;
    cursor: pointer;
}

.podrob_infa:hover{
    background-color: rgb(46, 155, 206);
    border-color: rgb(46, 155, 206);
    border-bottom-color: rgb(46, 155, 206);
    color: white;
} 

.pup_menu{
    position: absolute;
    background-color: rgba(46, 155, 206, 0.364);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition-duration: 0s;
    visibility: hidden;
    z-index: 8;
}

.tab_pup{
    border: 1px solid rgb(46, 155, 206);
    width: 600px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%; 
    background-color: white;
    border-radius: 10px;
    border-top-right-radius: 1px;
    border-top-left-radius: 10px;
    transition-duration: 0s;
    visibility: hidden;
    z-index: 7;
}

.ava{
    width: 150px;
    height: 150px;
    background: url('bomj.png') no-repeat;
    background-size: 100%;
    background-position: center;
    border: 1px solid rgb(46, 155, 206);
    border-top: none;
    border-left: none;
}

.name_ava{
    border: 1px solid rgb(46, 155, 206);
    display: flex;
    width: 600px;
    height: 150px;
    margin-left: -1px;
    margin-top: -1px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.name_pup{
    color: rgb(46, 155, 206);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px; 
}

.data{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    word-spacing: 250px;
    color: rgb(46, 155, 206);
    border: 1px solid rgb(46, 155, 206);
    width: 148px;
    border-top: none;
    border-left: none;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.data_text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    border: 1px solid rgb(46, 155, 206);
    color: rgb(46, 155, 206);
    width: 450px;
    height: 100%;
    margin-left: 148px;
    margin-top: -2px;
}

.data_info{
    position: relative;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0)
}

.addr{
    margin-top: -2px;
    width: 600px;
    margin-left: -1px;
}

.text_addr{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    word-spacing: 250px;
    color: rgb(46, 155, 206);
    border: 1px solid rgb(46, 155, 206);
    width: 150px;
    border-top: none;
    border-left: none;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.addr_text{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(46, 155, 206);
    position: absolute;
    font-size: 30px;
    top: 12px;
    left: 150px;
    height: 49px;
    top: 0;
    width: 450px;
}

.exit{
    position: absolute;
    background-size: 100%;
    width: 70px;
    height: 20px ;
    transition-duration: 0.5s;
    margin-left: 575px;
    margin-top: 24px;
    border: 1px solid rgb(46, 155, 206);
    background-color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: rgb(46, 155, 206);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition-duration: 0s;
}


.uchoba{
    display: flex;
    margin-top: -2px;
    width: 599px;
    margin-left: 1px;
}

.uchilsa{
    border: 1px solid rgb(46, 155, 206);
    width: 150px;
    position: relative;
    border-top: none;
    border-left: none;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1px;
    margin-top: 1px;
    color: rgb(46, 155, 206);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.uch{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid rgb(46, 155, 206);
    margin-left: 150px;
    width: 450px;
    margin-top: 1px;
    height: 48px;
    border-left: none;
    color: rgb(46, 155, 206);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.stal_tab{
    display: flex;
    position: relative;
}

.stal{
    border: 1px solid rgb(46, 155, 206);
    height: 49px;
    width: 149px;
    position: relative;
    margin-top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(46, 155, 206);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-bottom-left-radius: 10px;
}

.bomjom{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid rgb(46, 155, 206);
    margin-left: 151px;
    width: 450px;
    margin-top: -1px;
    height: 49px;
    border-left: none;
    color: rgb(46, 155, 206);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    border-bottom-right-radius: 10px;
}


.polki{
    border: 1px solid rgb(46, 155, 206);
    width: 250px;
    height: 500px;
    top: 50px;
    margin-left: auto;
    right: 50px;
    position: relative;
    transition-duration: 0.5s;
}

.polki2{
    border: 1px solid rgb(46, 155, 206);
    width: 250px;
    height: 500px;
    top: 50px;
    left: 100px;
    margin-right: auto;
    position: relative;
    transition-duration: 0.5s;
}

.polki_polki{
    display: flex;
    position: relative;
    height: 500px;
}

.polka_pivo{
    position: relative;
    background: url('polka1.png') no-repeat;
    background-size: 100%;
    background-position: center;
    width: 300px;
    height: 100px;
    margin-top: 50px;
    left: -25px
}

.pivo{
    position: absolute;
    background: url('pivo.png') no-repeat;
    background-size: 100%;
    background-position: center;
    width: 70px;
    height: 100px;
    top: -5px;
    transition-duration: 0.5s;
}

.pivo:hover{
    transform: scale(2, 2);
}

.infa_pivo{
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 200px;
    height: 100px;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);;
    display: flex;
    top: 5px;
    left: 60px;
    padding-left:15px;
    padding-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    transition-duration: 0.5s;
    z-index: 6;
    visibility: hidden;
}

.stoim_pivo{
    position: relative;
    border: 1px solid rgb(46, 155, 206);
    color: rgb(46, 155, 206);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-left: 10px;
    background-color: white;
    border-radius: 5px;
    transition-duration: 0.5s;
}

@media screen and (max-width: 1170px){
    .infa_pivo{
        border: 1px solid rgba(0, 0, 0, 0);
        width: 150px;
        height: 60px;
        color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);;
        display: flex;
        top: 5px;
        left: 60px;
        padding-left:15px;
        padding-top: 15px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 15px;
        transition-duration: 0.5s;
        position: absolute;
    }

    .polki{
        border: 1px solid rgb(46, 155, 206);
        width: 250px;
        height: 500px;
        top: 50px;
        margin-left: auto;
        right: -30px;
        position: relative;
        transition-duration: 0.5s;
    }

    .polki_polki{
        display: flex;
        position: relative;
        height: 1000px;
        z-index: 1;
    }
    
    .polki2{
        border: 1px solid rgb(46, 155, 206);
        width: 250px;
        height: 500px;
        top: 50px;
        left: 60px;
        margin-right: auto;
        position: relative;
        transition-duration: 0.5s;
    }
    
    .name_text{
        position: absolute;
        top: 80px;
        right: -1px;
        width: 200px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        color: rgb(46, 155, 206);
        border: 1px solid rgb(46, 155, 206);
    }    

    .infa{
        position: relative;
        border: 1px solid rgb(46, 155, 206);
        margin-left: auto;
        top: -1px;
        width: 200px;
        height: 260px;
        display: flex;
    }

    .podrob_infa{
        position: absolute;
        right: 300px;
        top: 181px;
        width: 202px;
        height: 80px;
        color: rgb(46, 155, 206);
        border: 1px solid rgb(46, 155, 206);
        background-color: white;
        font-size: 23px;
        font-family: 'Courier New', Courier, monospace;
        transition: color 1s, background-color 1s;
        cursor: pointer;
        left: -1px;
        z-index: 4;
    }
    
    .podrob_infa:hover{
        background-color: rgb(46, 155, 206);
        border-color: rgb(46, 155, 206);
        border-bottom-color: rgb(46, 155, 206);
        color: white;
    } 

    .ava_bomja{
        background: url('bomj.png') no-repeat;
        background-size: 100%;
        background-position: center;
        border-right: none;
        width: 202px;
        height: 100px;
        margin-left: -1px;
        border: 1px solid rgb(46, 155, 206);
        position: relative;
        margin-top: 0;
        border-right: none;
        border-top: none;
    }

    .dengi{
        background: url('sdf.png') no-repeat;
        background-size: 100%;
        width: 50px;
        height: 50px;
    }
    .dengi_text{
        font-family: 'Courier New', Courier, monospace;
        color: rgb(46, 155, 206);
        cursor: default;
    }
    
    .dengi_tab{
        position: absolute;
        border: 1px solid rgb(46, 155, 206);
        display: flex;
        width: 298px;
        height: 97px;
        left: -1px;
        align-items: center;
        top: 75px;
    }
    
    .vodka_tab{
        display: flex;
        position:absolute;
        border: 1px solid rgb(46, 155, 206);
        width: 298px;
        height: 85px;
        left: -1px;
        top: 173px;
        justify-content: center;
        align-items: center;
    }
    
    .menu_button{
        width: 299px;
        height: 77px;
        font-size: 30px;
        margin-left: -8px;
        top:-1px;
        font-family: 'Courier New', Courier, monospace;
        border: 1px solid rgb(46, 155, 206);
        position: absolute;
        color: rgb(46, 155, 206);
        background-color: white;
        transition: color 1s background-color 1s;
        cursor: pointer;
    }
    
    .menu_button:hover{
        background-color: rgb(46, 155, 206);
        border-color: rgb(46, 155, 206);
        border-bottom-color: rgb(46, 155, 206);
        color: white;
    }
    
    .vodka{
        background: url('vodka.png')0 0/100% 100% no-repeat;
        width: 50px;
        height: 50px;
        position: relative;
        left: -20px;
    }
    
    .vodka_text{
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        color: rgb(46, 155, 206);
        cursor: default;
    }
}

@media screen and (max-width: 1080px){
    .tab_menu_es{
        display: flex;
        position: relative;
        height: 100px;
        width: auto;
        top: 1px;
        align-items: center;
    }

    .dengi_tab{
        position: relative;
        border: 1px solid rgb(46, 155, 206);
        display: flex;
        width: 375px;
        height: 99px;
        top: -1px;
        align-items: center;
        justify-content: center;
    }
    
    .vodka_tab{
        display: flex;
        top: -1px;
        position:relative;
        border: 1px solid rgb(46, 155, 206);
        width: 372px;
        height: 99px;
        justify-content: center;
        align-items: center;
    }
    
    .menu_button{
        margin-left: -1px;
        width: 299px;
        height: 101px;
        font-size: 30px;
        top: -1px;
        font-family: 'Courier New', Courier, monospace;
        border: 1px solid rgb(46, 155, 206);
        color: rgb(46, 155, 206);
        background-color: white;
        transition: color 1s background-color 1s;
        position: relative;
        cursor: pointer;
    }
    
    .menu_button:hover{
        background-color: rgb(46, 155, 206);
        border-color: rgb(46, 155, 206);
        border-bottom-color: rgb(46, 155, 206);
        color: white;
    }
    
    .vodka{
        background: url('vodka.png')0 0/100% 100% no-repeat;
        width: 50px;
        height: 50px;
        position: relative;
        left: -20px;
    }
    
    .vodka_text{
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        color: rgb(46, 155, 206);
        cursor: default;
    }

    .polki{
        border: 1px solid rgb(46, 155, 206);
        width: 250px;
        height: 500px;
        top: 50px;
        margin-left: auto;
        right: -30px;
        position: relative;
        transition-duration: 0.5s;
    }

    .polki_polki{
        display: flex;
        position: relative;
        height: 1000px;
        z-index: 1;
    }
    
    .polki2{
        border: 1px solid rgb(46, 155, 206);
        width: 250px;
        height: 500px;
        top: 50px;
        left: 60px;
        margin-right: auto;
        position: relative;
        transition-duration: 0.5s;
    }

    .infa{
        display: none;
    }

}


/*
.ava_bomja{
    background: url('bomj.png') no-repeat;
    background-size: 100%;
    background-position: center;
    border-right: none;
    width: 100px;
    height: 75px;
    margin-left: auto;
    border: 1px solid rgb(46, 155, 206);
    position: relative;
    margin-top: 0;
    border-right: none;
    border-top: none;
}

.name_text{
    position: absolute;
    top: -21px;
    width: 197px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
    color: rgb(46, 155, 206);
  

.polki{
    border: 1px solid rgb(46, 155, 206);
    width: 250px;
    height: 500px;
    top: 50px;
    left: 400px;
    position: relative;
    transition-duration: 0.5s;
}